<div>Hello, <b>Ruby Developer!</b></div>
<div style="margin-top: 20px;">
  <div style="font-weight: bold;">Test cases:</div>
  1. <%= link_to 'Send test e-mail', test_send_email_path %><br>
  2. <%= link_to 'Send test e-mail (change layout)', test_send_email_2_path %>
</div>